<table id="persone" class="table table-hover">
    <thead>
        <tr>
            <th>company_id</th>
            <th>company_name</th>
            <th>description</th>
            <th>logo</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" type="text" name="company_id" ng-model="company.company_id" value="" /></td>
            <td><input class="form-control" type="text" name="company_name" ng-model="company.company_name" value="" /></td>
            <td><input class="form-control" type="text" name="description" ng-model="company.description" value="" /></td>
            <td><input class="form-control" type="file" name="logo" ng-model="company.logo" /></td>
            <td></td>
            <td><button class="btn btn-primary" ng-click="onCreate()">Создать</button></td>
        </tr>
        <tr ng-repeat="company in $storage.company">
            <td><input class="form-control" type="text" name="company_id" ng-model="company.company_id" value="{{company.company_id}}" /></td>
            <td><input class="form-control" type="text" name="company_name" ng-model="company.company_name" value="{{company.company_name}}" /></td>
            <td><input class="form-control" type="text" name="description" ng-model="company.description" value="{{company.description}}" /></td>
            <td><input class="form-control" type="file" name="logo" ng-model="company.logo" value="{{company.logo}}" /></td>
            <td><button class="btn btn-primary" ng-click="onEdit(company, $index)">Редактировать</button></td>
            <td><button class="btn btn-warning" ng-click="onRemove(company, $index)">Удалить</button></td>
        </tr>
    </tbody>
</table>
