<table id="persone" class="table table-hover">
    <thead>
        <tr>
            <th>position_id</th>
            <th>position_name</th>
            <th>salary</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" type="text" name="position_id" ng-model="position.position_id" value="" /></td>
            <td><input class="form-control" type="text" name="position_name" ng-model="position.position_name" value="" /></td>
            <td><input class="form-control" type="text" name="salary" ng-model="position.salary" value="" /></td>
            <td><button class="btn btn-primary" ng-click="onCreate()">Создать</button></td>
            <td></td>
        </tr>
        <tr ng-repeat="position in $storage.position">
            <td><input class="form-control" type="text" name="position_id" ng-model="position.position_id" value="{{position.position_id}}" /></td>
            <td><input class="form-control" type="text" name="position_name" ng-model="position.position_name" value="{{position.position_name}}" /></td>
            <td><input class="form-control" type="text" name="salary" ng-model="position.salary" value="{{position.salary}}" /></td>
            <td><button class="btn btn-primary" ng-click="onEdit(position, $index)">Редактировать</button></td>
            <td><button class="btn btn-warning" ng-click="onRemove(position, $index)">Удалить</button></td>
        </tr>
    </tbody>
</table>
