<table id="user" class="table table-hover">
    <thead>
        <tr>
            <th>user_id</th>
            <th>nickname</th>
            <th>department_id</th>
            <th>person_id</th>
            <th>position_id</th>
            <th>super_user</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" type="text" name="user_id" ng-model="user.user_id" value="" /></td>
            <td><input class="form-control" type="text" name="nickname" ng-model="ituserem.nickname" value="" /></td>
            <td><input class="form-control" type="text" name="department_id" ng-model="user.department_id" value="" /></td>
            <td><input class="form-control" type="text" name="person_id" ng-model="user.person_id" value="" /></td>
            <td><input class="form-control" type="text" name="position_id" ng-model="user.position_id" value="" /></td>
            <td><input class="form-control" type="text" name="super_user" ng-model="user.super_user" value="" /></td>
            <td></td>
            <td><button class="btn btn-primary" ng-click="onCreate()">Создать</button></td>
        </tr>
        <tr ng-repeat="user in $storage.user">
            <td><input class="form-control" type="text" name="user_id" ng-model="user.user_id" value="{{user.user_id}}" /></td>
            <td><input class="form-control" type="text" name="nickname" ng-model="ituserem.nickname" value="{{user.nickname}}" /></td>
            <td><input class="form-control" type="text" name="department_id" ng-model="user.department_id" value="{{user.department_id}}" /></td>
            <td><input class="form-control" type="text" name="person_id" ng-model="user.person_id" value="{{user.person_id}}" /></td>
            <td><input class="form-control" type="text" name="position_id" ng-model="user.position_id" value="{{user.position_id}}" /></td>
            <td><input class="form-control" type="text" name="super_user" ng-model="user.super_user" value="{{user.super_user}}" /></td>
            <td><button class="btn btn-primary" ng-click="onEdit(user, $index)">Редактировать</button></td>
            <td><button class="btn btn-warning" ng-click="onRemove(user, $index)">Удалить</button></td>
        </tr>
    </tbody>
</table>
